<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76bb98">  <td>19/06/28 17:47:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP2and3.TP2()[pri:0, instance:twoPLUGS_testcases.TP2and3@76f2bbc1]">TP2</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>19/06/28 17:47:00</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP2and3.TP3()[pri:0, instance:twoPLUGS_testcases.TP2and3@76f2bbc1]">TP3</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="ebc363">  <td>19/06/28 17:47:00</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtractData.accessExcel()[pri:0, instance:twoPLUGS_testcases.ExtractData@609db43b]">accessExcel</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/06/28 17:47:00</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_009.editProfile()[pri:0, instance:twoPLUGS_testcases.TP_009@1356d4d4]">editProfile</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="a2b467">  <td>19/06/28 17:47:00</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP4and5.f()[pri:0, instance:twoPLUGS_testcases.TP4and5@6497b078]">f</td> 
  <td>main@657381435</td>   <td></td> </tr>
<tr bgcolor="736b95">  <td>19/06/28 17:47:00</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_025.signOut()[pri:0, instance:twoPLUGS_testcases.TP_025@87a85e1]">signOut</td> 
  <td>main@657381435</td>   <td></td> </tr>
</table>
