<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite3 (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_003.InvalidEmailPassword(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_003@55d56113]">InvalidEmailPassword</td> 
  <td>TestNG-tests-2@415569462</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:26</td>   <td>372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_003.InvalidEmailPassword(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_003@6adede5]">InvalidEmailPassword</td> 
  <td>TestNG-tests-1@997838370</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:28</td>   <td>1972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_003.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_003@55d56113]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@415569462</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:28</td>   <td>2141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_003.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_003@6adede5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@997838370</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:28</td>   <td>2027</td> <td>&nbsp;</td><td title="&lt;&lt;TP_003.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_003@55d56113]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@415569462</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:28</td>   <td>2195</td> <td>&nbsp;</td><td title="&lt;&lt;TP_003.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_003@6adede5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@997838370</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:21</td>   <td>-4441</td> <td>&nbsp;</td><td title="&gt;&gt;TP_003.launchBrowser()[pri:0, instance:twoPLUGS_testcases.TP_003@55d56113]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@415569462</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:21</td>   <td>-4441</td> <td>&nbsp;</td><td title="&gt;&gt;TP_003.launchBrowser()[pri:0, instance:twoPLUGS_testcases.TP_003@6adede5]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@997838370</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:26</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_003.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_003@55d56113]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@415569462</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>19/06/27 20:38:26</td>   <td>340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_003.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_003@6adede5]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@997838370</td>   <td></td> </tr>
</table>
