<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite9</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_016.addServiceMatch(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_016@7c83dc97]">addServiceMatch</td> 
  <td>TestNG-tests-2@1061907969</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:38</td>   <td>27206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_016.addServiceMatch(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_016@2d2ffcb7]">addServiceMatch</td> 
  <td>TestNG-tests-1@849719107</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:52</td>   <td>40621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_016.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_016@2d2ffcb7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@849719107</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:53</td>   <td>41489</td> <td>&nbsp;</td><td title="&lt;&lt;TP_016.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_016@2d2ffcb7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@849719107</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:11</td>   <td>-138</td> <td>&nbsp;</td><td title="&gt;&gt;TP_016.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_016@7c83dc97]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1061907969</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:11</td>   <td>-138</td> <td>&nbsp;</td><td title="&gt;&gt;TP_016.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_016@2d2ffcb7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@849719107</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>19/06/28 15:18:38</td>   <td>27185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_016.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_016@2d2ffcb7]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@849719107</td>   <td></td> </tr>
</table>
