<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite10 (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_010.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_010@65e2dbf3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@719744569</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:40</td>   <td>5308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_010.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_010@5bc79255]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@458227670</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:35</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TP_010.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_010@65e2dbf3]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@719744569</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:40</td>   <td>5308</td> <td>&nbsp;</td><td title="&lt;&lt;TP_010.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_010@5bc79255]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@458227670</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:16</td>   <td>-19046</td> <td>&nbsp;</td><td title="&gt;&gt;TP_010.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_010@65e2dbf3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@719744569</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:16</td>   <td>-19046</td> <td>&nbsp;</td><td title="&gt;&gt;TP_010.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_010@5bc79255]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@458227670</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:24</td>   <td>-11251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_010.bidService(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_010@65e2dbf3]">bidService</td> 
  <td>TestNG-tests-1@719744569</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:27</td>   <td>-8324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_010.bidService(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_010@5bc79255]">bidService</td> 
  <td>TestNG-tests-2@458227670</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:24</td>   <td>-11257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_010.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_010@65e2dbf3]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@719744569</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>19/06/27 20:52:27</td>   <td>-8329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_010.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_010@5bc79255]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@458227670</td>   <td></td> </tr>
</table>
