<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite4</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_004.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@2038ae61]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1090356271</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:40</td>   <td>1381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_004.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@3327bd23]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@367197517</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:44</td>   <td>5166</td> <td>&nbsp;</td><td title="&lt;&lt;TP_004.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_004@2038ae61]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1090356271</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:45</td>   <td>6507</td> <td>&nbsp;</td><td title="&lt;&lt;TP_004.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_004@3327bd23]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@367197517</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:29</td>   <td>-9865</td> <td>&nbsp;</td><td title="&gt;&gt;TP_004.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@2038ae61]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1090356271</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:29</td>   <td>-9865</td> <td>&nbsp;</td><td title="&gt;&gt;TP_004.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@3327bd23]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@367197517</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:36</td>   <td>-2658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_004.searchServiceNeed(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@2038ae61]">searchServiceNeed</td> 
  <td>TestNG-tests-1@1090356271</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:39</td>   <td>283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_004.searchServiceNeed(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_004@3327bd23]">searchServiceNeed</td> 
  <td>TestNG-tests-2@367197517</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:36</td>   <td>-2677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_004.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_004@2038ae61]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1090356271</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>19/06/27 20:38:39</td>   <td>280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_004.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_004@3327bd23]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@367197517</td>   <td></td> </tr>
</table>
