<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite8</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:32</td>   <td>10338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:38</td>   <td>16347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:52</td>   <td>30084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:04</td>   <td>42289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:10</td>   <td>48044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:38</td>   <td>16747</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:11</td>   <td>49717</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:19</td>   <td>-2606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:23</td>   <td>1270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:34</td>   <td>12552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:48</td>   <td>26122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:54</td>   <td>32530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:06</td>   <td>44570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:12</td>   <td>-9140</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:39</td>   <td>17564</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:19</td>   <td>-2594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.createNeed(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">createNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:48</td>   <td>26124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.createNeed(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">createNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:34</td>   <td>12572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@dc24521]">deleteNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:06</td>   <td>44586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">deleteNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:23</td>   <td>1278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.updateNeed(java.lang.String, java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_008@dc24521]">updateNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:54</td>   <td>32546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.updateNeed(java.lang.String, java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">updateNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
</table>
