<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite8</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:19</td>   <td>6534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:19</td>   <td>6546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.createNeed(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">createNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:21</td>   <td>9140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:23</td>   <td>10410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:23</td>   <td>10418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.updateNeed(java.lang.String, java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_008@dc24521]">updateNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:32</td>   <td>19478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:34</td>   <td>21692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:34</td>   <td>21712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@dc24521]">deleteNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:38</td>   <td>25487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:38</td>   <td>25887</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:39</td>   <td>26704</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:48</td>   <td>35262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:48</td>   <td>35264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.createNeed(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">createNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:52</td>   <td>39224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:54</td>   <td>41670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:50:54</td>   <td>41686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.updateNeed(java.lang.String, java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">updateNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:04</td>   <td>51429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:06</td>   <td>53710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:06</td>   <td>53726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">deleteNeed</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:10</td>   <td>57184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>19/06/27 20:51:11</td>   <td>58857</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0f93f1]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
</table>
