<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_001.launchBrowser(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@4470f8a6]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2071318134</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_001.launchBrowser(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@291b4bf5]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1123610963</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:22</td>   <td>8963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_001.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_001@291b4bf5]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1123610963</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:22</td>   <td>8971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_001.signUpInvalidUser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@291b4bf5]">signUpInvalidUser</td> 
  <td>TestNG-tests-1@1123610963</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:23</td>   <td>9585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_001.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_001@4470f8a6]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2071318134</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:23</td>   <td>9589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_001.signUpInvalidUser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@4470f8a6]">signUpInvalidUser</td> 
  <td>TestNG-tests-2@2071318134</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:24</td>   <td>11284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_001.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@291b4bf5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1123610963</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:24</td>   <td>11332</td> <td>&nbsp;</td><td title="&lt;&lt;TP_001.closeBrowser()[pri:0, instance:twoPLUGS_testcases.TP_001@291b4bf5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1123610963</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:25</td>   <td>11839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_001.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_001@4470f8a6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2071318134</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 17:50:25</td>   <td>11870</td> <td>&nbsp;</td><td title="&lt;&lt;TP_001.closeBrowser()[pri:0, instance:twoPLUGS_testcases.TP_001@4470f8a6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2071318134</td>   <td></td> </tr>
</table>
