<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite13</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_013.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_013@67784306]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@556894588</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:15</td>   <td>205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_013.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_013@5a8e6209]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1783182688</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:15</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;TP_013.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_013@67784306]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@556894588</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:15</td>   <td>205</td> <td>&nbsp;</td><td title="&lt;&lt;TP_013.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_013@5a8e6209]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1783182688</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:51:52</td>   <td>-22100</td> <td>&nbsp;</td><td title="&gt;&gt;TP_013.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_013@67784306]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@556894588</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:51:52</td>   <td>-22100</td> <td>&nbsp;</td><td title="&gt;&gt;TP_013.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_013@5a8e6209]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1783182688</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:00</td>   <td>-14286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_013.bidNeed(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_013@67784306]">bidNeed</td> 
  <td>TestNG-tests-1@556894588</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:02</td>   <td>-12167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_013.bidNeed(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_013@5a8e6209]">bidNeed</td> 
  <td>TestNG-tests-2@1783182688</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:00</td>   <td>-14295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_013.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_013@67784306]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@556894588</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/06/27 20:52:02</td>   <td>-12175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_013.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_013@5a8e6209]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1783182688</td>   <td></td> </tr>
</table>
