<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite14</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a66ec">  <td>19/06/28 18:55:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_018.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_018@291b4bf5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@379312962</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 18:55:46</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;TP_018.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_018@291b4bf5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@379312962</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 18:54:58</td>   <td>-48363</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@291b4bf5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@379312962</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 18:55:06</td>   <td>-40813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@291b4bf5]">refund</td> 
  <td>TestNG-tests-1@379312962</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>19/06/28 18:55:06</td>   <td>-40817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@291b4bf5]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@379312962</td>   <td></td> </tr>
</table>
