<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d6578">  <td>19/06/18 18:26:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@1e88b3c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/06/18 18:26:13</td>   <td>8408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@1e88b3c]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/06/18 18:26:13</td>   <td>8417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@1e88b3c]">fileComplaint</td> 
  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/06/18 18:26:42</td>   <td>37232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_017.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_017@1e88b3c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="7d6578">  <td>19/06/18 18:26:42</td>   <td>37287</td> <td>&nbsp;</td><td title="&lt;&lt;TP_017.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_017@1e88b3c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
</table>
