<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite5</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_005.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_005@7d9d1a19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1930575329</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:41</td>   <td>628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_005.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_005@1ce92674]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1856262757</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:41</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TP_005.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_005@7d9d1a19]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1930575329</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:41</td>   <td>628</td> <td>&nbsp;</td><td title="&lt;&lt;TP_005.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_005@1ce92674]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1856262757</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:27</td>   <td>-13985</td> <td>&nbsp;</td><td title="&gt;&gt;TP_005.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_005@1ce92674]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1856262757</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:27</td>   <td>-13985</td> <td>&nbsp;</td><td title="&gt;&gt;TP_005.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_005@7d9d1a19]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1930575329</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:36</td>   <td>-5066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_005.searchUser(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_005@7d9d1a19]">searchUser</td> 
  <td>TestNG-tests-1@1930575329</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:38</td>   <td>-2352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_005.searchUser(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_005@1ce92674]">searchUser</td> 
  <td>TestNG-tests-2@1856262757</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:36</td>   <td>-5091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_005.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_005@7d9d1a19]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1930575329</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>19/06/27 20:48:38</td>   <td>-2356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_005.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_005@1ce92674]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1856262757</td>   <td></td> </tr>
</table>
