<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Suite1s]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 11:54:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_017.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1007268618</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:54:38</td>   <td>2907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_018.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 11:54:35</td>   <td>1</td> <td>&nbsp;</td><td title="&lt;&lt;TP_017.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1007268618</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:53:32</td>   <td>-62637</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 11:53:32</td>   <td>-62637</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1007268618</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 11:53:40</td>   <td>-54187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">fileComplaint</td> 
  <td>TestNG-tests-1@1007268618</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:53:40</td>   <td>-54187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">refund</td> 
  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:54:38</td>   <td>2916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">refund</td> 
  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:53:40</td>   <td>-54196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 11:53:40</td>   <td>-54196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1007268618</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 11:54:38</td>   <td>2907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@1018bde2]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2058525322</td>   <td></td> </tr>
</table>
