<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite10</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_011.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_011@4e9ba398]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1721940571</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_011.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_011@6b09bb57]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1280787534</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:37</td>   <td>7242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_011.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_011@4e9ba398]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1721940571</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:37</td>   <td>7250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_011.buyService(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_011@4e9ba398]">buyService</td> 
  <td>TestNG-tests-1@1721940571</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:40</td>   <td>9935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_011.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_011@6b09bb57]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1280787534</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:40</td>   <td>9937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_011.buyService(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_011@6b09bb57]">buyService</td> 
  <td>TestNG-tests-2@1280787534</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:51</td>   <td>20777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_011.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_011@4e9ba398]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1721940571</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:51</td>   <td>20777</td> <td>&nbsp;</td><td title="&lt;&lt;TP_011.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_011@4e9ba398]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1721940571</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:51</td>   <td>20979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_011.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_011@6b09bb57]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1280787534</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>19/06/27 20:51:51</td>   <td>20979</td> <td>&nbsp;</td><td title="&lt;&lt;TP_011.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_011@6b09bb57]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1280787534</td>   <td></td> </tr>
</table>
