<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Failed suite [Failed suite [Failed suite [Suite1s]]]]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ed7d">  <td>19/06/28 14:10:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_019.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_019@1ebd319f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@29576328</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/06/28 14:10:36</td>   <td>7767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_019.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_019@1ebd319f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@29576328</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/06/28 14:10:36</td>   <td>7778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_019.editProfile(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_019@1ebd319f]">editProfile</td> 
  <td>TestNG-tests-1@29576328</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/06/28 14:10:41</td>   <td>12185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_019.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_019@1ebd319f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@29576328</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/06/28 14:10:41</td>   <td>12187</td> <td>&nbsp;</td><td title="&lt;&lt;TP_019.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_019@1ebd319f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@29576328</td>   <td></td> </tr>
</table>
