<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_002.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_002@5cb9f472]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1113521569</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:20</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_002.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_002@5702b3b1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@113408382</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:20</td>   <td>88</td> <td>&nbsp;</td><td title="&lt;&lt;TP_002.closeBrowser()[pri:0, instance:twoPLUGS_testcases.TP_002@5cb9f472]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1113521569</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:20</td>   <td>208</td> <td>&nbsp;</td><td title="&lt;&lt;TP_002.closeBrowser()[pri:0, instance:twoPLUGS_testcases.TP_002@5702b3b1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@113408382</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:11</td>   <td>-8617</td> <td>&nbsp;</td><td title="&gt;&gt;TP_002.launchBrowser()[pri:0, instance:twoPLUGS_testcases.TP_002@5cb9f472]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1113521569</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:11</td>   <td>-8617</td> <td>&nbsp;</td><td title="&gt;&gt;TP_002.launchBrowser()[pri:0, instance:twoPLUGS_testcases.TP_002@5702b3b1]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@113408382</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:16</td>   <td>-3966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_002.validEmailPassword(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_002@5702b3b1]">validEmailPassword</td> 
  <td>TestNG-tests-2@113408382</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:16</td>   <td>-3903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_002.validEmailPassword(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_002@5cb9f472]">validEmailPassword</td> 
  <td>TestNG-tests-1@1113521569</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:16</td>   <td>-3994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_002.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_002@5702b3b1]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@113408382</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>19/06/27 20:38:16</td>   <td>-3919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_002.verifyLandingPage()[pri:0, instance:twoPLUGS_testcases.TP_002@5cb9f472]">&gt;&gt;verifyLandingPage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1113521569</td>   <td></td> </tr>
</table>
