<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite1s]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:12:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_019.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_019@f2ff811]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:12:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:12:59</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@36b4fe2a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@557056490</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:13:13</td>   <td>13722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_019.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_019@f2ff811]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:13:13</td>   <td>13740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_019.editProfile(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_019@f2ff811]">editProfile</td> 
  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:13:13</td>   <td>14176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@36b4fe2a]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@557056490</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:13:13</td>   <td>14176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@36b4fe2a]">refund</td> 
  <td>TestNG-tests-3@557056490</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:13:15</td>   <td>15608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:13:15</td>   <td>15624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.follow(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">follow</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:13:15</td>   <td>15630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendEeds(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">sendEeds</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:13:15</td>   <td>15633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.report(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">report</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:13:15</td>   <td>15638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendMessage(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">sendMessage</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/07/04 09:13:15</td>   <td>15759</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@69fb6037]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:13:18</td>   <td>19201</td> <td>&nbsp;</td><td title="&lt;&lt;TP_019.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_019@f2ff811]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:13:19</td>   <td>19951</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@55f616cf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/07/04 09:13:30</td>   <td>31357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@69fb6037]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/07/04 09:13:30</td>   <td>31367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.updateNeed(java.lang.String, java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_008@69fb6037]">updateNeed</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:13:36</td>   <td>37349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@55f616cf]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:13:36</td>   <td>37359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@55f616cf]">refund</td> 
  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/07/04 09:13:43</td>   <td>43774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@69fb6037]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/07/04 09:13:45</td>   <td>46303</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@69fb6037]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="aad5d5">  <td>19/07/04 09:13:47</td>   <td>47590</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@4f67eb2a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="aad5d5">  <td>19/07/04 09:14:02</td>   <td>63007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@4f67eb2a]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="aad5d5">  <td>19/07/04 09:14:02</td>   <td>63017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@4f67eb2a]">fileComplaint</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:14:25</td>   <td>86054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@55f616cf]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:14:25</td>   <td>86067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@55f616cf]">refund</td> 
  <td>TestNG-tests-2@386527937</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/07/04 09:14:32</td>   <td>93184</td> <td>&nbsp;</td><td title="&lt;&lt;TP_018.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_018@36b4fe2a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@557056490</td>   <td></td> </tr>
<tr bgcolor="aad5d5">  <td>19/07/04 09:14:42</td>   <td>103385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@4f67eb2a]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
<tr bgcolor="aad5d5">  <td>19/07/04 09:14:42</td>   <td>103401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@4f67eb2a]">fileComplaint</td> 
  <td>TestNG-tests-1@209199833</td>   <td></td> </tr>
</table>
