<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite7</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:33</td>   <td>10292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:38</td>   <td>15194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:52</td>   <td>28981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:50:04</td>   <td>40795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:50:09</td>   <td>45705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_007.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:39</td>   <td>15638</td> <td>&nbsp;</td><td title="&lt;&lt;TP_007.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:50:11</td>   <td>47809</td> <td>&nbsp;</td><td title="&lt;&lt;TP_007.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:19</td>   <td>-3721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:24</td>   <td>1210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:36</td>   <td>12507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:48</td>   <td>25041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:54</td>   <td>30636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:50:06</td>   <td>42417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:12</td>   <td>-10898</td> <td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:40</td>   <td>16457</td> <td>&nbsp;</td><td title="&gt;&gt;TP_007.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:19</td>   <td>-3713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.createService(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_007@4b952a2d]">createService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:48</td>   <td>25044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.createService(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_007@5025a98f]">createService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:36</td>   <td>12515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.deleteService(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_007@4b952a2d]">deleteService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:50:06</td>   <td>42417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.deleteService(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_007@5025a98f]">deleteService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:24</td>   <td>1214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.updateService(java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_007@4b952a2d]">updateService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
<tr bgcolor="62b3b1">  <td>19/06/27 20:49:54</td>   <td>30636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_007.updateService(java.lang.String)[pri:1, instance:twoPLUGS_testcases.TP_007@5025a98f]">updateService</td> 
  <td>main@1632492873</td>   <td></td> </tr>
</table>
