<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite6</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:42</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:51</td>   <td>8381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:51</td>   <td>8381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.follow(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">follow</td> 
  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:53</td>   <td>10340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:53</td>   <td>10340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.follow(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">follow</td> 
  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:57</td>   <td>14265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:57</td>   <td>14323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:57</td>   <td>14327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.report(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">report</td> 
  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:58</td>   <td>15509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:58</td>   <td>15540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:48:58</td>   <td>15540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.report(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">report</td> 
  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:01</td>   <td>18733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:01</td>   <td>18757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:01</td>   <td>18757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendEeds(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">sendEeds</td> 
  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:04</td>   <td>21184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:04</td>   <td>21196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:04</td>   <td>21196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendEeds(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">sendEeds</td> 
  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:04</td>   <td>21870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:05</td>   <td>22248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:05</td>   <td>22248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendMessage(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">sendMessage</td> 
  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:07</td>   <td>24178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:07</td>   <td>24832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:07</td>   <td>24832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendMessage(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">sendMessage</td> 
  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:07</td>   <td>24860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:08</td>   <td>25320</td> <td>&nbsp;</td><td title="&lt;&lt;TP_006.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_006@490ab905]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1728467356</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:10</td>   <td>27958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>19/06/27 20:49:11</td>   <td>28462</td> <td>&nbsp;</td><td title="&lt;&lt;TP_006.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_006@cb644e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2074938247</td>   <td></td> </tr>
</table>
