<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite1s]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9fd99">  <td>19/07/02 22:48:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_022.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_022@424e1977]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1981801887</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/02 22:48:26</td>   <td>13467</td> <td>&nbsp;</td><td title="&lt;&lt;TP_022.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_022@424e1977]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1981801887</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/02 22:47:47</td>   <td>-24917</td> <td>&nbsp;</td><td title="&gt;&gt;TP_022.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_022@424e1977]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1981801887</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/02 22:48:06</td>   <td>-6797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_022.changeEmail(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_022@424e1977]">changeEmail</td> 
  <td>TestNG-tests-1@1981801887</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/02 22:48:04</td>   <td>-7943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_022.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_022@424e1977]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1981801887</td>   <td></td> </tr>
</table>
