<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite1s]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:05:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1165892905</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:05:49</td>   <td>9415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1165892905</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:05:49</td>   <td>9429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">fileComplaint</td> 
  <td>TestNG-tests-1@1165892905</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:50</td>   <td>10499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:50</td>   <td>10503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@568ff82]">deleteNeed</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:50</td>   <td>10519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:51</td>   <td>11112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:51</td>   <td>11117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@568ff82]">deleteNeed</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:51</td>   <td>11122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:52</td>   <td>11774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:52</td>   <td>11779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@568ff82]">deleteNeed</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:52</td>   <td>11782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/02 13:05:52</td>   <td>12245</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@568ff82]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:05:53</td>   <td>13167</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:03</td>   <td>23338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:03</td>   <td>23345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">fileComplaint</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:40</td>   <td>59799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_017.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:40</td>   <td>59799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:40</td>   <td>59809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@11c9af63]">fileComplaint</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>19/07/02 13:06:40</td>   <td>59832</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@3cc1435c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:45</td>   <td>65240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_017.afterMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1165892905</td>   <td></td> </tr>
<tr bgcolor="a1ed7d">  <td>19/07/02 13:06:45</td>   <td>65240</td> <td>&nbsp;</td><td title="&lt;&lt;TP_017.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_017@117e949d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1165892905</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>19/07/02 13:06:49</td>   <td>69512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@3cc1435c]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>19/07/02 13:06:49</td>   <td>69516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@3cc1435c]">refund</td> 
  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>19/07/02 13:07:50</td>   <td>130353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_018.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_018@3cc1435c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>19/07/02 13:07:50</td>   <td>130353</td> <td>&nbsp;</td><td title="&lt;&lt;TP_018.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_018@3cc1435c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@413768264</td>   <td></td> </tr>
</table>
