<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Failed suite [Failed suite [Failed suite [Suite1s]]]]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7580b9">  <td>19/06/28 20:02:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_008.afterMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0be339]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@463253948</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>19/06/28 20:02:35</td>   <td>1371</td> <td>&nbsp;</td><td title="&lt;&lt;TP_008.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0be339]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@463253948</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>19/06/28 20:02:26</td>   <td>-7712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeMethod()[pri:0, instance:twoPLUGS_testcases.TP_008@3c0be339]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@463253948</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>19/06/28 20:02:18</td>   <td>-15915</td> <td>&nbsp;</td><td title="&gt;&gt;TP_008.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_008@3c0be339]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@463253948</td>   <td></td> </tr>
<tr bgcolor="7580b9">  <td>19/06/28 20:02:26</td>   <td>-7707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_008.deleteNeed(java.lang.String)[pri:2, instance:twoPLUGS_testcases.TP_008@3c0be339]">deleteNeed</td> 
  <td>TestNG-tests-1@463253948</td>   <td></td> </tr>
</table>
