<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite1s]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca8a3">  <td>19/07/04 09:15:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_017.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@36b4fe2a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@950335807</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:15:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_018.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@568ff82]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@110264979</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:15:58</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:13</td>   <td>15161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:13</td>   <td>15173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.follow(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">follow</td> 
  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:16:17</td>   <td>18338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@568ff82]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@110264979</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:16:17</td>   <td>18356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@568ff82]">refund</td> 
  <td>TestNG-tests-2@110264979</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>19/07/04 09:16:18</td>   <td>19316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@36b4fe2a]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@950335807</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>19/07/04 09:16:18</td>   <td>19323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@36b4fe2a]">fileComplaint</td> 
  <td>TestNG-tests-3@950335807</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:19</td>   <td>21052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:20</td>   <td>21815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:20</td>   <td>21826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendEeds(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">sendEeds</td> 
  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:26</td>   <td>27297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:26</td>   <td>27695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:26</td>   <td>27704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.report(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">report</td> 
  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:29</td>   <td>30339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:29</td>   <td>30383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_006.beforeMethod(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:29</td>   <td>30412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_006.sendMessage(java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">sendMessage</td> 
  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:32</td>   <td>33596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TP_006.afterMethod(java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="e9fd99">  <td>19/07/04 09:16:32</td>   <td>34227</td> <td>&nbsp;</td><td title="&lt;&lt;TP_006.afterTest()[pri:0, instance:twoPLUGS_testcases.TP_006@117e949d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@24534327</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:16:50</td>   <td>51900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_018.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_018@568ff82]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@110264979</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/07/04 09:16:50</td>   <td>51907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_018.refund(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_018@568ff82]">refund</td> 
  <td>TestNG-tests-2@110264979</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>19/07/04 09:16:51</td>   <td>52673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TP_017.verifyHomepage()[pri:0, instance:twoPLUGS_testcases.TP_017@36b4fe2a]">&gt;&gt;verifyHomepage</td> 
<td>&nbsp;</td>  <td>TestNG-tests-3@950335807</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>19/07/04 09:16:51</td>   <td>52692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TP_017.fileComplaint(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:twoPLUGS_testcases.TP_017@36b4fe2a]">fileComplaint</td> 
  <td>TestNG-tests-3@950335807</td>   <td></td> </tr>
</table>
